doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Forget Password 
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    body
        .container(style="width: 500px").mt-5
            h3(style="text-align: center") Password Reset

            if message
                if success
                    p.message.alert.alert-success #{message}
                else
                    p.message.alert.alert-danger #{message}

            form(method="POST").mt-3
                label(for='password') New Password:
                input#password.form-control(type='password', name='password')
                br
                input.btn.btn-primary(type='submit', value='confirm new password')

script.
  setTimeout(function() {
    const message = document.querySelector('.message');
    message.remove();
  }, 5000);
