/node_modules/
/Day10/nodejs-frame/node_modules/
/Day11/sequelize/node_modules/
/Day11/sequelize/dist/
/Day11/sequelize/apiUploads/
/Day12/jwt-and-passport-auth/node_modules/
/Day13/forget-password-and-reset/node_modules/
/Day13/forget-password-and-reset/dist/
/Day14/imageUpload/node_modules/
/Day14/imgaeUpload/dist/
/Day15/swagger/node_modules/
/Day15/swagger/dist/
/Day15/swagger/apiUploads/
/Day16/migration-and-seeder/node_modules/
/Day16/migration-and-seeder/dist/

